<div class="wrapper">
<h1>Want to become a contributor?</h1>
<p>Thank you for your interest in Panoramic Images (PI). Panoramic Images is a stock agency that has represented premium large and wide format photography from a group of international commercial and fine art photographers since 1987. Clients have looked to PI for over 30 years for the most contemporary and compelling travel and pan-format imagery in the world. We are always seeking new talented photographers.</p>
<p>Panoramic Images markets our photographers' images through a variety of channels. We also continue to develop additional distribution systems and product offerings to ensure the most profitable and far-reaching modes of marketing your work. Finally, our network of international partner agents offers worldwide visibility for your work and even greater sales potential.</p>
<p>Prospective photographers must send an introductory email to the Director of Photography, Michelle Novak, <a href="mailto:michelle@panoramicimages.com">michelle@panoramicimages.com</a> prior to submitting. Please include a short biography and a URL to your web site or to web sites displaying digital portfolios of your work.</p>
<h2>Digital vs. Film</h2>
<p>We still welcome film submissions. However, as most of our photographers have started to digitize their collections of film, many film submissions start out as a digital low resolution preview to edit from.</p>
<p>Equal numbers of film, digital, stitched digital and photographer scans make up the collection. We look for the highest quality regardless of the origin of the file.</p>
<p>All film taken in is edited and scanned and housed at PI or returned to the photographer if prior arrangements are made for access to the work for PI requests.</p>
<h2>File Quality</h2>
<p>Before submitting you must visit <a href="http://www.updig.org/disg/other.php" target="_blank">http://www.updig.org/disg/other.php</a> for help with spotting some common file quality issues.</p>
<h2>Digital Submissions</h2>
<h3>Initial</h3>
<p>For portfolio consideration, please send a link to about 20 to 50 low resolution JPEGs at full size and at optimal screen viewing resolution of 72 ppi. Files should be under 5 MB and no larger than 2400 pixels high x full length.</p>
<p>Origin of file, digital, film, digital stitched etc must be disclosed for each image asset submitted.</p>
<p>If you plan to submit digitally to Panoramic Images a minimum of 5 High Resolution files will be requested, market ready, for quality evaluation.</p>
<h3>Contributors Regular Submissions</h3>
<p>For contract photographers submitting to us digitally, please do a preliminary edit before sending. Check all work for poor focus and digital aberrations. We accept high res finished or low res files for consideration.</p>
<p>We do not accept email submissions via attachments or submissions from a digital lightbox. We prefer that your images be delivered to us via FTP or if necessary via a DVD or hard drive. Please contact us for FTP details. Submission materials will not be returned unless prior arrangements are made.</p>
<p>All contact information must be included. Introductory letter or email must be included. Metadata must be included and viewable in Adobe Photoshop or in an excel spreadsheet.</p>
<p>Once we receive your files we will assign a Return Receipt number and notify you via email. We will then place these in the editing queue for consideration. You must use the Return Receipt number to reference your submissions with us. This initial review process is often lengthy as we receive work in daily from photographers around the globe. We will make our best effort to review the work within 6 weeks.</p>
<p>Images will be reviewed on artistic and technical merit as well as current stock industry trends. Stock image utility crosses over with fine art and some commercial photographic uses. Your work will be reviewed in the context of all stock sales potential and technical merit.</p>
<h3>Hires Digital Submission Specs (Digital Original and Stitched Panoramic)</h3>
<ul>
<li>
  <p>Digital Camera or Scanner must be PI approved. Call for details.</p></li>
<li><p>Scan Specifications: Large format images scan 14” on the short side at 300 ppi. (Approximately 200 MB.)</p></li>
<li> 
 <p>Stitched images must be approved. We accept only professionally stitched images.</p>
 </li>
<li> 
 <p>For composite images : High Resolution Scanner or camera must be PI approved- call for details.</p>
 </li>
<li> 
 <p>Send samples 100% clean and finished for approval.</p>
 </li>
<li> 
 <p>File Type: JPG or TIFF (IBM/PC byte order, no layers, no compression) 8-bit</p>
 </li>
<li> 
 <p>Color Space: sRGB, Adobe RGB 1998, or similar.</p>
 </li>
<li> 
 <p>Color Mode: RGB</p>
 </li>
<li> 
 <p>File Size: 25 MB - 4 GB</p>
 </li>
<li> 
 <p>Clean or spot images at 100%</p>
 </li>
<li> 
 <p>No visible stitch lines.</p>
 </li>
<li> 
 <p>Must have PI approved metadata (see below).</p>
 </li>
<li> 
 <p>Images must be free of all digital aberrations and artifacts.</p>
 </li>
<li> 
 <p>Color should be accurate.</p>
 </li>
<li> 
 <p>No over-sharpening. No jagged lines of pixels.</p>
 </li>
<li> 
 <p>High pixelation must be retouched.</p>
 </li>
<li> 
 <p>Color should be accurate.</p>
 </li>
<li> 
 <p>Focus must be apparent throughout the image.</p>
 </li>
<li> 
 <p>Naming convention - File Folder (with your name) &gt; unique image # (see below).</p>
 </li>
<li> 
 <p>If replacing images, this must be noted clearly and embedded in the metadata.</p>
</li>
</ul>
<h2>File Naming and Metadata</h2>
<h3>File Naming</h3>
<p>You may use your own filenaming schema with the following caveats. If replacing images already in the PI collection, this must be noted clearly on all documentation.</p>
<p>Please do not use any punctuation in your filenames other than underscore or hyphen. Please limit character count to 35 for each file.</p>
<p>File names should correspond or be tracked to the film file number if it is a scan.</p>
<p>Finally if your work is accepted, our server will automatically rename your file with a unique PI sequence number. We advise you to place your own image identifier in the IPTC “Document Title” field.</p>
<h3>Metadata</h3>
<p>The following types of metadata must be included with your images:</p>
<ol>
<li> Photographer credit/copyright info</li>
<li> Caption and description</li>
<li> Document title (for your filename)</li>
<li> Location: city, state/province/territory, country</li>
<li> Origin of file: digital, film, digital stitched, composite</li>
</ol>
<p>In Photoshop, use the File Info command, to make sure the data is correct and viewable. This is also a way to embed your metadata. There are many programs available for embedding metadata. Whatever program you use—it must be embedded and viewable in Photoshop.</p>
<p>We keyword all images to strict industry specifications. Please do not embed keywords in your files. We can not use them and we do not extract them.</p>
<p>Industry-wide best practices for metadata are discussed at <a href="http://www.updig.org/guidelines/metadata.php" target="_blank">http://www.updig.org/guidelines/metadata.php</a>.</p>
<p>Industry-wide best practices for file naming are discussed at <a href="http://www.updig.org/guidelines/naming.php" target="_blank">http://www.updig.org/guidelines/naming.php</a>.</p>
<h3>Keywords</h3>
<p>We keyword all images to strict industry specifications. If you embed keywords in your images we will import these but will replace any keywords that do not meet our standards. We do not require you to keyword your images but we do require a caption and description.</p>
<h2>Releases</h2>
<p>Although model releases and property releases are not legally required for editorial use of images, we encourage you to obtain releases when you can, and to keep them permanently. Please call with questions. We have copies of releases that you can use for your models and their business or property.</p>
<p>When submitting release copies to PI, the writing must be legible and reference to your image file name and number.</p>
<p>Industry-wide best practices for releases are discussed at <a href="www.asmp.org/releases" target="_blank">www.asmp.org/releases</a>.</p>
<h2>Initial Film Submission Preparation</h2>
<ol>
<li> All images should be submitted on fine-grain color or black and white transparencies for initial review. Original images, not dupes, are required. Original color or black and white negatives accepted only if accompanied by proof prints.</li>
<li> Only panoramic or large format images will be considered. Panoramic format is defined as any aspect ratio greater than two to one. 120, 220, 70mm and 35mm (XPan, Noblex, Roundshot) images are eligible for inclusion in the PI collection.</li>
<li> Initial submissions should be NO GREATER than 50 images. Edit all images tightly to ensure a wide range of work is represented with an emphasis on areas of special interest to you. Be sure your initial submission reflects your STRONGEST work!</li>
<li> All images should be individually sleeved with captions, photographer credit and copyright date clearly labeled. Do not submit unsleeved images!</li>
<li> Your own internal reference number on each image is also required to facilitate the tracking of your images.</li>
<li> Images will be reviewed on artistic and technical merit as well as current stock industry trends. Stock image utility crosses over with fine art and some commercial photographic uses. Your work will be reviewed in the context of all stock sales potential and technical merit.</li>
<li> Please review PI Terms of Acceptance (attached below) for the shipping, handling and safe management of your valuable originals.</li>
<li> All images MUST be properly captioned. Captions must include the following information or they may be rejected due to lack of relevant image information.
 <ol>
 <li> Caption</li>
 <li> Location (city, state/province/territory, country, etc.)</li>
 </ol> 
 </li>
</ol>
<h2>Terms of Acceptance</h2>
<p>Photographer or Photographer's representative warrants that he/she has full right to sell the images submitted.</p>
<p>Photographer warrants that submissions for use in advertising purposes are free for this use and that all indicated releases, including model and property releases, are available unless so stated in writing.</p>
<p>Photographer agrees to indemnify and hold harmless Panoramic Images (PI), its authorized representatives and sub-agents and those for whom PI is acting against all loss, damage, expense or liability resulting from the use or reproduction in any manner whatsoever of the images herein.</p>
<p>The Photographer recognizes and accepts that as an industry photographic agencies are unable to fully and properly insure their Photographer's images because of the prohibitively high cost of adequate insurance and, for this reason, PI does not maintain insurance for any loss, damage or deterioration of its Photographer's images from any cause whatsoever, including, but not limited to, fire, theft, vandalism, water and accident.</p>
<p>The Photographer acknowledges and agrees that PI is not liable for any such aforesaid loss, damage or deterioration. The Photographer acknowledges PI's recommendation that Photographers should deliver their images by registered mail or personally, and should maintain their own full insurance coverage for their images from the time they are deposited with PI until they are returned to their possession.</p>
<p>While PI will make every effort to protect Photographer's images and will exercise due care in the review and return of submissions, PI and its employees are not responsible for the damage, destruction or loss of photographic material except through gross or willful negligence.</p>
<p>PI will return all film images in the following manners, unless an alternative method is agreed to with the photographer:</p>
<ol>
<li> USA Photographers: bonded messenger, registered mail or in a manner which will provide proof of delivery.</li>
<li> Non-USA Photographers: Due to international courier costs, PI will return all images via unregistered international airmail unless other arrangements are made.</li>
</ol>
<p>All the Photographer's images in past, present and future submissions are accepted by PI under the above terms and provisions of the Amended and Restated Photographer and Agency Agreement between Photographer and PI. Amendments, modifications or changes to PI's Terms of Acceptance are not effective unless agreed in writing by PI and the Photographer.</p>
<p>These terms shall be construed pursuant to the laws of the State of Illinois applicable to contracts made and performed in such State.</p>
<h2>Questions</h2>
<p>Please email or call Director of Photography, Michelle Novak with questions. <a href="mailto:michelle@panoramicimages.com">michelle@panoramicimages.com</a> or <a href="tel:+18473247000" title="Click to call…">847.324.7000</a><br />
 Panoramic Images<br />
 4835 Main St. Skokie, IL 60077<br />
 www.panoramicimages.com</p>
 </div>
