.overlay-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 24;
}

.overlay {
    position: relative;
    background-color: #fff;
    overflow: auto;
    z-index: 26;
    display: inline-block;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    max-height: calc(100% - 70px);
    padding: 10px;
}

.outer-overlay {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}