<div class="container">
  <h1>Registrieren</h1>


  <div *ngIf="success" class="alert alert-success">
    Die Registrierung war erfolgreich.<br>
    Sie erhalten demnächst ein automatisch generiertes Email mit einem Aktivierungslink.
  </div>

  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" *ngIf="!success">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <div *ngIf="formErrors.email.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.email">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Passwort</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div *ngIf="formErrors.password.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.password">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordConfirm">Passwort bestätigen</label>
      <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm">
      <div *ngIf="formErrors.passwordConfirm.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.passwordConfirm">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="familyName">Nachname</label>
      <input type="text" class="form-control" id="familyName" formControlName="familyName">
      <div *ngIf="formErrors.familyName.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.familyName">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="givenName">Vorname</label>
      <input type="text" class="form-control" id="givenName" formControlName="givenName">
      <div *ngIf="formErrors.givenName.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.givenName">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="company">Firma</label>
      <input type="text" class="form-control" id="company" formControlName="company">
      <div *ngIf="formErrors.company.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.company">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="streetAddress">Adresse/Strasse </label>
      <input type="text" class="form-control" id="streetAddress" formControlName="streetAddress">
      <div *ngIf="formErrors.streetAddress.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.streetAddress">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="streetAddress">Hausnummer</label>
      <input type="text" class="form-control" id="streetAddress2" formControlName="streetAddress2">
      <div *ngIf="formErrors.streetAddress2.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.streetAddress2">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="addressLocality">Stadt</label>
      <input type="text" class="form-control" id="addressLocality" formControlName="addressLocality">
      <div *ngIf="formErrors.addressLocality.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.addressLocality">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="addressRegion">Bundesland</label>
      <input type="text" class="form-control" id="addressRegion" formControlName="addressRegion">
      <div *ngIf="formErrors.addressRegion.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.addressRegion">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="postalCode">PLZ</label>
      <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
      <div *ngIf="formErrors.postalCode.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.postalCode">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="addressCountry">Land</label>
      <select class="form-control" id="addressCountry" formControlName="addressCountry">
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
      <div *ngIf="formErrors.addressCountry.length" class="alert alert-danger">
        <div *ngFor="let error of formErrors.addressCountry">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="form-group">

      <div *ngFor="let error of errorMessages" class="alert alert-danger">
        {{error}}
      </div>
    </div>


    <button type="submit" class="btn btn-success" *ngIf="!success">Registrieren</button>
  </form>
</div>