:host {
 display: block;
 box-sizing: border-box;
 margin:30px;
}
.attachment {
	padding: 10px;
	border: 2px dotted rgba(204,204,204,1);
	display: table;
	text-align: center;
	margin-top: 5 dpx;
}
h1 {
	font-size: 52px;
	font-weight: 400;
	text-align: center;
	font-family: Merriweather;
	margin-bottom:50px;
	margin-top:0px;
}
.email-form-wrapper {
	border: 1px solid rgba(204,204,204,1);
	display: table;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(245,245,245,1);
	margin-right: auto;
	margin-left: auto;
	padding: 18px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.button-send {
	font-size: 14px;
	line-height: 1.25;
	font-weight: 300;
	letter-spacing: 0;
	background-color: #0070c9;
	background: -webkit-linear-gradient(#42a1ec, #0070c9);
	background: linear-gradient(#42a1ec, #0070c9);
	border-color: #07c;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	display: inline-block;
	min-width: 30px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 1px;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	margin-top: 20px;
}
.email-form-wrapper input[type='text'], input[type='email'] {
	margin-bottom: 10px;
}
.email-form-wrapper textarea {
	resize: vertical;
	height: 10em;
	border-color: #ccc;
}
.email-form-wrapper input[type='text'], input[type='email'], .attachment, textarea {
	width: 240px;
}
.button-send:hover {
	background-image: linear-gradient(rgb(81, 169, 238), rgb(20, 123, 205));
	border-bottom-color: rgb(20, 130, 208);
	border-left-color: rgb(20, 130, 208);
	border-right-color: rgb(20, 130, 208);
	border-top-color: rgb(20, 130, 208);
}
.row1 {
	display: block;
	clear: both;
}
.row1 > div {
	display: block;
	float: left;
	margin-bottom: 50px;
}
.row1 > div > p {
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
	color: #7E8A91;
}
.row1 .c1 {
	width: 100%;
	/* [disabled]background-color: red; */
}
.row1 .c2 {
	width: 100%;
	/* [disabled]background-color: yellow; */
}
.row1 .c3 {
	width: 100%;
	/* [disabled]background-color: green; */
}
.row1 .c4 {
	width: 100%;
	/* [disabled]background-color: pink; */
}
.row1 h4 {
	font-size: 14px;
	letter-spacing: 2px;
	margin-bottom: 20px;
	color: #383D45;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
}
.row1 a {
	text-decoration: none;
	color: inherit;
}
.row1 a:hover {
	text-decoration: underline;
}
@media (min-width: 600px) {
.row1 .c1 {
	width: 50%;
}
.row1 .c2 {
	width: 50%;
}
.row1 .c3 {
	width: 50%;
}
.row1 .c4 {
	width: 50%;
}
}

@media (min-width: 1020px) {
.row1 .c1 {
	width: 25%;
}
.row1 .c2 {
	width: 25%;
}
.row1 .c3 {
	width: 25%;
}
.row1 .c4 {
	width: 25%;
}
}
