<h1>Kontakt Info</h1>
<div class="test">
  <div class="email-form-wrapper">
    <form action="" method="get">
      <p>
        <input name="" type="text" placeholder="Full Name" autofocus="autofocus" />
        <br />
        <input name="" type="email" placeholder="Email Address" />
        <br />
        <textarea name="" cols="" placeholder="Message"></textarea>
      </p>
      Anhänge (optional)
      <div class="attachment"><i class="fa fa-paperclip"></i> Drop files to attach, or <a href="#">browse</a>.</div>
      <input name="" type="button" value="Send" class="button-send" />
    </form>
  </div>
  <div class="row1">
    <div class="c1">
      <h4>Telefon</h4>
      <p><a href="tel:8005435250">xxx +1 (800) 543-5250</a> toll-free<br />
        <a href="tel:8473247000">xxx +1 (847) 324-7000</a> direct</p>
    </div>
    <div class="c2">
      <h4>Support</h4>
      <p><a href="mailto:sales@imagepoint.biz">xxx@imagepoint.biz</a><br />
        <a href="mailto:info@imagepoint.biz">info@imagepoint.biz</a></p>
    </div>
    <div class="c3">
      <h4>Adresse/Strasse</h4>
      <p><a href="https://goo.gl/maps/PCvRVf2TSnT2" target="_blank">xxx 4835 Main Street<br />
        Skokie, IL 60077</a></p>
    </div>
    <div class="c4">
      <h4>Erreichbar von</h4>
      <p>Montag-Freitag, 10 bis 18 Uhr<br />
        (Aktuelle ist es <app-current-time></app-current-time>)</p>
    </div>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2963.4630873221026!2d-87.75103468391286!3d42.03324917921006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fcf1244d97e03%3A0xdd46bb3bbebb04ad!2sPanoramic+Images!5e0!3m2!1sen!2sus!4v1518199003056" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
