<h1>Das Team</h1>
<div class="wrapper">
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/doug-segal.jpg)"></div>
    <div class="name">Doug Segal</div>
    <div class="title">Director</div>
    <div class="email"><a href="mailto:doug@panoramicimages.com">doug@panoramicimages.com</a></div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/michelle-novak.jpg)"></div>
    <div class="name">Michelle Novak</div>
    <div class="title">Director of Photography</div>
    <div class="email"><a href="mailto:michelle@panoramicimages.com">michelle@panoramicimages.com</a></div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/matt-barnes.jpg)"></div>
    <div class="name">Matt Barnes</div>
    <div class="title">Digital Media Manager</div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/tere-rodriguez.jpg)"></div>
    <div class="name">Tere Rodriguez</div>
    <div class="title">Accounting </div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/nancy-kuhr.jpg)"></div>
    <div class="name">Nancy Kuhr</div>
    <div class="title">Customer Service Manager</div>
    <div class="email"><a href="mailto:sales@panoramicimages.com">sales@panoramicimages.com</a></div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/paul-conklin.jpg)"></div>
    <div class="name">Paul Conklin</div>
    <div class="title">Image Retouch &amp; Quality Assurance </div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/samuel-sotelo-avila.jpg)"></div>
    <div class="name">Sam Sotelo-Avila</div>
    <div class="title">Photography Technician &amp; Production Lead</div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/virginia-zirkle.jpg)"></div>
    <div class="name">Virgina Zirkle</div>
    <div class="title">Scan Technician &amp; Photography Editor</div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/kenton-muschenheim.jpg)"></div>
    <div class="name">Kenton Muschenheim</div>
    <div class="title">Database &amp; Systems</div>
  </div>
  <div>
    <div class="headshot" style="background-image:url(../../assets/img/team/evan-bowers.jpg)"></div>
    <div class="name">Evan Bowers</div>
    <div class="title">Data &amp; Special Projects Coordinator</div>
  </div>
</div>
