<div class="container">
    <h1>Passwort vergessen</h1>

    <div *ngIf="success" class="alert alert-success">
        Sie erhalten demnächst ein automatisch generiertes Email mit einem Resetlink.
    </div>

    <form [formGroup]="form" novalidate (ngSubmit)="sendToken()" *ngIf="!success">

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" #myInput autofocus>
            {{ myInput.focus() }}
            <div *ngIf="formErrors.email && formErrors.email.length" class="alert alert-danger">
                <div *ngFor="let error of formErrors.email">
                    {{ error }}
                </div>
            </div>
        </div>

        <input type="button" (click)="sendToken()" value="Reset password">

    </form>

</div>